body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

header {
  display: table;
  width: 100%;
  height: auto;
  padding: 50px 0;
  text-align: center;
  color: white;
  background: url("../img/stock-background.jpg") no-repeat;
}

header .title {
  padding-top: 20%;
  width: 70%;
}

header .intro-text {
  font-size: 18px;
}
section{

}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

.black-background{
  opacity: 0.8 !important;
  background-color: black !important;
  height: 45px;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

#about-section {
  color: black;
}

#menu-section {
  background-color: blue;
}

.text-about{
  padding: 5%;
}
.img-about {
  background: url("../img/about.jpg") no-repeat center;
}

.img-background {
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gallery-bg{
    background: url('../img/gallery-bg-3.jpg') center center no-repeat;
}

.burma-bg{
    background: url('../img/burma-bg-4.jpg') center center no-repeat;

}

.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;

  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6;
  }
}

.vh-100{
  height: 100vh;
  width: 100%;
}

.vh-75{
  height: 75vh;
}

.vh-150{
  height: 150vh;
}

.gallery{
  padding: 5% 25% 25% 25%;
}

.gallery div{
  padding: 0px !important;
}

.gallery .img-thumbnail {
  border-radius: 0px !important;
  border: none !important;
}

.gallery img{
  padding: 1.5%;
  width: 100%;
  height: 100%;
}

.centered {
 position: absolute;
}
